<form action="/answer">
  <label id="question">Speak to your coach: </label>
  <input type="text" id= "ask" name="question" placeholder="Ask me a question?">
  <input type="submit" value="Go on!">
</form>
